// variables

/* COLORS */
$pi_primary: #0a0908;
$pi_secondary: #8be0bf;
$pi_gray: #696773;
$pi_yellow: #fde549;
$pi_pink: #e6899a;

/* FONT */
$font-primary: "Rethink Sans", serif;

/* BORDER */
$border-color: $pi_primary;