.offcanvas {
    width: 50%; /* Ajusta este valor según tus necesidades */
    max-width: 50px; /* Puedes establecer un tamaño máximo para el offcanvas */
}

.offcanvas-body {
    overflow-y: auto; /* Permite el desplazamiento si el contenido es demasiado grande */
}

.offcanvas-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo negro semitransparente */
    z-index: 1040; /* Asegúrate de que esté detrás del offcanvas pero delante de otros contenidos */
}