:root {
    --bs-border-radius: 0;
}

* {
    font-family: "Work Sans", sans-serif;
}

.nav-link.active {
    font-weight: 600;
}

.nav-link {
    padding-top: .7em;

}

.offcanvas {
    --bs-offcanvas-width: auto;
}