body, * {
    margin: 0;
    padding: 0;
  }
  .leaflet-touch .leaflet-bar{
    border:none;
  }
  .leaflet-touch .leaflet-bar a {
    font-size: 20px;
  }
  .leaflet-popup-content-wrapper{
    box-shadow: none;
  }
  .leaflet-popup-content-wrapper {
    border-radius: 0;
  }